.li{
    list-style-type: none;
}
.sidebar {
    background-color: #333;
    width: 200px;
    height: 100vh;
    position: fixed;
    left: 0;
    margin: 0;
    
    
  }
  
  .sidebar ul li:hover {
    background-color: #444; /* Podświetlenie po najechaniu na pole */
  }
  
  .sidebar ul li a {
    text-decoration: none;
  }

  .sidebar ul li{
    font-size: 16px;
    line-height: 3;
    margin-left: 10px;
    
  }

  .footer{
   margin-top: 20px;
  }

 img{
    max-width: 100%;
    border-radius: 5px;
    margin-top: 15px;
 }
<<<<<<< HEAD

=======
.about-description h1{
    padding-bottom: 20px;
    
}
>>>>>>> 8d49f9910fbfe4b3833cd63c2a4ca4c7553b3446
