
.li{
    list-style-type: none;
}
.sidebar {
    background-color: #333;
    width: 200px;
    height: 100vh;
    position: fixed;
    left: 0;
    margin: 0;
    
    
  }
  
  .sidebar ul li:hover {
    background-color: #444; /* Podświetlenie po najechaniu na pole */
  }
  
  .sidebar ul li a {
    text-decoration: none;
  }

  .sidebar ul li{
    font-size: 16px;
    line-height: 3;
    margin-left: 10px;
    
  }

  

 img{
    max-width: 100%;
    border-radius: 5px;
    margin-top: 15px;
 }

.about-description h1{
    padding-bottom: 20px;
    
}
.author img{
    max-width: 40%;
    margin-bottom: 10px;
    display: block;
  margin-left: auto;
  margin-right: auto;

}

.author-link{
    color: black;
    line-height: 2;
    
}
.author p{
    font-size: 20px;
}

.About{
    text-align: center;
    padding-bottom: 500px;
}
.NotFound{
  padding-top: 150px;
  padding-bottom: 200px;
}
.NotFound p{
  font-size: 18px;
  padding-bottom: 50px;
  padding-top: 20px;
}
.NotFound h1{
  padding-top: 30px;
}
.NotFound img{
  padding-left: 50px;
  width: 300px;
  max-width: 100%;
}

.border{
  border-radius: 5px;
}
.favorites{
  padding-top: 50px;
}


@media (max-width: 800px){
  .list-group{
    max-width: 400px;
  }
  .sidebar{
    width: 150px;
  }
.HomePage{
  width: 400px;
  padding: 0;
  margin: 0;
}

}